*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'IBM Plex Sans';
}

main{
    width: 1280px;
    height: 720px;
    background-color: #121214;
    border-radius: 12px;
    margin: 10vh auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: 42px;
}

.title{
    font-weight: 600;
    font-size: 32px;
    color: white; 
    margin-top: 73px;
} 

.users{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.user{
    width: 160px; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.overflowUserImage{
    overflow: hidden;
    background-color: #1E1E20;
    width: 160px;
    height: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.userImage:hover{
    transform: scale(1.25);
}

.userName{
    font-weight: 600;
    font-size: 14px;
    color: #9C9C9C;
    text-align: center;
}

.btnGerenciar{
    width: 206px;
    height: 50px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    background-color: #121214;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 102px;

}

.btnGerenciar:hover{
    border: 1.5px solid #121214;
    color: #121214;
    background-color: white;
}

.newUserIcon{
    color: #6F6F70;
    font-weight: bold;
    font-size: 53.89px;
} 

.newUserIcon:hover{
    color: white;
    font-weight: bold;
    font-size: 53.89px;
}