div{
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
}

div.caixa1{
    background-color: #ef482a;
}
div.caixa2{
    background-color: #6e71fc;
}
div.caixa3{
    background-color: #000000;
}